doctype html
html
	head
		title blogApp
		link(rel='stylesheet', type='text/css', href='../static/css/stylesheet.css')
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans" rel="stylesheet")
	body
		wrapper
			nav
				ul.navbar
					li.leftside
						a(href='/profile') My profile
					li
						a(class='addpost') Add post
					li
						a(href='/signup') Log out

		.wrapper
			h1  Here you can view all posts
		.allPosts.flex-container
			each message in messages
				.row
					.card
						
						h3.messagetitle #{message.title}
						p#postby By #{message.user.userName}
						p #{message.body}
						.commentstext
						p 
							strong Comments:
						.footerpost
						form(class='comment', action='/comment', method="post")
							input(class='comment', type='text', name='body', size='30', placeholder='Add a comment...')
							input(type="hidden" value=message.id, name="postId")
							button(class="commentbutton submitbutton",type='submit') Send
							 
						each comment in message.comments
							p#addedcomment #{comment.body}
		.container
				form#msform(action='/profile', method="post") 
					fieldset
						h2 Write your message here
						h3 Title:
						
						|  
						input(type='text', name='title', size='30', placeholder='Type the title of the message here')
						
						br
					 
						h3 Body:
						|  
						textarea(name='body', rows='5', cols='30', placeholder='Type your message here')
					 
						br
						|  
						button(class="buttonblue submitbutton",type='submit') Submit
		


		script(src="../static/js/jquery-3.1.1.js")
		script(src="../static/js/custom.js")
		script.
				$('.addpost').click(function(){
				$('.allPosts').hide()     
				$('.container').toggle()
				})
				$('.buttonblue').click(function(){
				$('.allPosts').show()
				})
				$('.commentstext').click(function(){
				$('.footerpost').toggle()
				})
				$('.commentbutton').click(function(){
				$('.footerpost').show()
				})
						 
		 
			
